.gameContainer {
    display: flex;
}

.gameLogo {
    width: 90%;
    aspect-ratio: 1/1;
    margin: 5%;
}
.gameCard {
    width: 20%;
    aspect-ratio: 1/1.5;
    background-color: gray;
    margin: 1%
}
.gameInfo {
    margin: 5%;
    margin-top: 0;
    flex: auto;
}
.gameInfo h1 {
    margin: 0;
}